# Directories
cache/
out/
target/
deps/
node_modules/
.vscode/*
.idea/


# broadcasts
!broadcast
contracts/broadcast/*
contracts/broadcast/*/31337/

# Files
*.env
.DS_Store
.history
*.nockma
*.bkp


# Added by cargo

/target
