# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config
[profile.default]
fs_permissions = [
    { access = "read", path = "./test/examples/transactions/test_tx01.bin" },
    { access = "read", path = "./test/examples/transactions/test_tx05.bin" },
    { access = "read", path = "./test/examples/transactions/test_tx10.bin" },
    { access = "read", path = "./test/examples/transactions/test_tx15.bin" },
    { access = "read", path = "./test/examples/transactions/test_tx20.bin" },
    { access = "read", path = "./test/examples/transactions/mint.bin" },
    { access = "read", path = "./test/examples/transactions/transfer.bin" },
    { access = "read", path = "./test/examples/transactions/burn.bin" },
]


remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin-contracts/=lib/openzeppelin-contracts/contracts/",
    "@solady/=lib/solady/src",
    "@risc0-ethereum/=lib/risc0-ethereum/contracts/src/",
    "@elliptic-curve-solidity/=lib/elliptic-curve-solidity/",
    "@permit2/=lib/permit2/",
    "openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "ds-test/=lib/risc0-ethereum/lib/openzeppelin-contracts/lib/forge-std/lib/ds-test/src/",
    "erc4626-tests/=lib/openzeppelin-contracts/lib/erc4626-tests/",
    "halmos-cheatcodes/=lib/openzeppelin-contracts/lib/halmos-cheatcodes/src/",
]


# Deterministic deployment settings (https://book.getfoundry.sh/guides/deterministic-deployments-using-create2#configuring-your-foundrytoml)
cbor_metadata = false
bytecode_hash = "none"

solc = "0.8.30"
auto_detect_solc = false
evm_version = "prague"
gas_reports = [
    "ProtocolAdapter",
    "CommitmentAccumulatorMock",
    "NullifierSetMock",
    "BlobStorageMock",
]
optimizer = true
via_ir = true
optimizer_runs = 10_000

src = "src"
libs = ["lib"]
out = "out"
script = "script"
test = "test"
allow_internal_expect_revert = true
isolate = true

[fuzz]
runs = 1_000

[profile.ci]
fuzz = { runs = 1_000 }
verbosity = 3

[etherscan]
mainnet = { key = "${API_KEY_ETHERSCAN}" }
sepolia = { key = "${API_KEY_ETHERSCAN}" }
arbitrum = { key = "${API_KEY_ETHERSCAN}" }
arbitrum-sepolia = { key = "${API_KEY_ETHERSCAN}" }
base = { key = "${API_KEY_ETHERSCAN}" }
base-sepolia = { key = "${API_KEY_ETHERSCAN}" }

[rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
sepolia = "https://eth-sepolia.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
arbitrum = "https://arb-mainnet.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
arbitrum-sepolia = "https://arb-sepolia.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
base = "https://base-mainnet.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
base-sepolia = "https://base-sepolia.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
localhost = "http://localhost:8545"
