# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config
[profile.default]
fs_permissions = [{ access = "read", path = "./" }]


auto_detect_remappings = false
remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin-contracts/=lib/openzeppelin-contracts/contracts/",
    "openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",  # Used within `risc0-ethereum`
    "@solady/=lib/solady/src",
    "@risc0-ethereum/=lib/risc0-ethereum/contracts/src/",
    "@elliptic-curve-solidity/=lib/elliptic-curve-solidity/",
]


# Deterministic deployment settings (https://book.getfoundry.sh/guides/deterministic-deployments-using-create2#configuring-your-foundrytoml)
cbor_metadata = false
bytecode_hash = "none"

solc = "0.8.31"
auto_detect_solc = false
evm_version = "osaka"
gas_reports = [
    "ProtocolAdapter",
    "CommitmentTreeMock",
    "NullifierSetMock",
    "BlockTimeForwarder",
]
optimizer = true
via_ir = true
optimizer_runs = 10_000

src = "src"
libs = ["lib"]
out = "out"
script = "script"
test = "test"
allow_internal_expect_revert = true

[fuzz]
runs = 1_000

[profile.ci]
fuzz = { runs = 1_000 }
verbosity = 3

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
arbitrum = { key = "${ETHERSCAN_API_KEY}" }
arbitrum-sepolia = { key = "${ETHERSCAN_API_KEY}" }
optimism = { key = "${ETHERSCAN_API_KEY}" }
optimism-sepolia = { key = "${ETHERSCAN_API_KEY}" }
base = { key = "${ETHERSCAN_API_KEY}" }
base-sepolia = { key = "${ETHERSCAN_API_KEY}" }

[rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
sepolia = "https://eth-sepolia.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
arbitrum = "https://arb-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
arbitrum-sepolia = "https://arb-sepolia.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
base = "https://base-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
base-sepolia = "https://base-sepolia.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
optimism = "https://opt-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
optimism-sepolia = "https://opt-sepolia.g.alchemy.com/v2/${ALCHEMY_API_KEY}"

localhost = "http://localhost:8545"
