name: Bindings

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: Tests
    runs-on: macos-latest
    env:
      ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Show Rust version
        run: rustc --version

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Show Foundry version
        run: forge --version

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            target
          key: rust-${{ runner.os }}-${{ hashFiles('**/Cargo.lock', 'bindings/src/generated/**') }}
          restore-keys: rust-

      - name: Run rustfmt
        run: cargo fmt -- --check

      - name: Build Bindings
        run: just bindings-build

      - name: Run clippy
        run: cargo clippy --no-deps -- -Dwarnings

      - name: Run Clippy on test
        run: cargo clippy --no-deps  --tests -- -Dwarnings

      - name: Run Tests
        run: just bindings-test
