name: Contracts

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: Tests
    runs-on: macos-latest
    env:
      FOUNDRY_PROFILE: ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: just contracts-deps

      - name: Show Foundry version
        run: forge --version

      - name: Run Forge Lint
        run: forge lint --deny warnings
        working-directory: ./contracts

      - name: Install Bun
        uses: oven-sh/setup-bun@v1

      - name: Show Bun version
        run: bun --version
        working-directory: ./contracts

      - name: Install Solhint
        run: bun install solhint
        working-directory: ./contracts

      - name: Run Solhint in `src`
        run: bunx --bun solhint --config .solhint.json 'src/**/*.sol'
        working-directory: ./contracts
        id: solhint-src

      - name: Run Solhint in `test` dir
        run: bunx --bun solhint --config .solhint.other.json 'test/**/*.sol'
        working-directory: ./contracts
        id: solhint-test

      - name: Run Solhint in `script` dir
        run: bunx --bun solhint --config .solhint.other.json 'script/**/*.sol'
        working-directory: ./contracts
        id: solhint-script

      - name: Install Slither
        run: pip install slither-analyzer

      - name: Show Slither version
        run: slither --version

      - name: Run Slither
        run: slither .
        working-directory: ./contracts
        id: slither

      - name: Run Forge fmt
        run: forge fmt --check
        working-directory: ./contracts
        id: fmt

      - name: Run Forge build
        run: just contracts-build --sizes --ast

      - name: Run Forge tests
        run: just contracts-test
        env:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

      - name: Check that bindings are up-to-date
        run: just bindings-check
